<h1 [ngStyle]="{
    'background-color': '#000',
    'color': color,
    'border': 'solid 5px ' + color
}">
    Hola desde Banner Imagenes
</h1>
<div class="row">
    <div class="col-sm-6">
        <img [src]="urlImagen" class="img-fluid" alt="">
    </div>
    <div class="col-sm-6">
        <img [src]="urlImagen" class="img-fluid" alt="">
    </div>
    <div class="col-sm-6">
        <img [src]="urlImagen" class="img-fluid" alt="">
    </div>
</div>
<!--Interpolacion {{}} -> TEXTO MUESTRA INTERFAZ (View Model)-->
<h2>{{nombre}} - {{apellido}}</h2>
<p>Mascota: {{mascotas.akamaru.edad}}</p>

<!--Property Binding []-->
<a [href]="url" target="_blank">
Mas informacion
</a>
<!--Event Binding ()-->
<button (click)="ejecutarEventoClick()" (blur)="ejecutarEventoBlur()">
Event Binding</button>

<!--Pipes |-->
<!--Un pipe recibe algo y lo transforma-->
<p>{{fecha | date:'dd-MM-YYYY'}}</p>
<p>{{sueldo | currency}}</p>
<!--Etiqueta preformateada-->
<pre>{{mascotas | json}}</pre>