<h1>EBAEZ</h1>
<!--Menu-->
<ul>
    <li>
        <a [routerLink]="['/inicio']">Inicio</a>
    </li>
    <li>
        <a [routerLink]="['/login']">Login</a>
    </li>
    <li>
        <a [routerLink]="['/lazy-inventario']">Inventario</a>
        <ul>
            <li>
                <a [routerLink]="['/lazy-inventario', 'bodega']">Bodega</a>
            </li>
            <li>
                <a [routerLink]="['/lazy-inventario', 'reporte']">Reporte</a>
            </li>
        </ul>
    </li>
    <li>
        <a [routerLink]="['/app']">App</a>
        <ul>
            <li>
                <a [routerLink]="['/app', 'usuario']">App Usuario</a>
            </li>
            <li>
                <a [routerLink]="['/app', 'post']">App Post</a>
            </li>
        </ul>
    </li>
</ul>
<!--Nos ayuda a que se rendericen las rutas-->
<router-outlet></router-outlet>